<div class="card mw-300">
  <a href="/plants/{{id}}">
    <h4 class="card-header">{{name}}</h4> 
    <img class="full-width" src="/img/plant-icons/1.png">
    <p class="card-body"><i>Owned by {{user.username}}</i></p>
  </a>
</div>
