<div class="card">
  <a href="/plants/{{id}}">
    <h3 class="card-header">{{name}}</h3> 
    <img class="full-width" src="https://picsum.photos/500/300">
    <p class="card-body"><i>Owned by {{user.username}}</i></p>
  </a>
</div>