<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant Pal</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Plant Pal</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    
    <div class="">
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>