<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).on('ready', function () {
            $(".regular").slick({
                dots: true,
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });
        });
  </script>
</head>

{{!-- CAROUSEL WILL ONLY APPEAR WHEN THERE ARE MORE THAN 3 CARDS(plants) --}}
<body>
  <section class="full-width">
    <a class="add-plant-btn" href="/dashboard/create">Add a New Plant</a>
    
    {{#if plants.length}}
    <section class="regular slider">
      {{#each plants as |plant|}}
      <div class="card">
          <a href="/plants/{{id}}">
            <h4 class="card-header">{{name}}</h4> 
            <img src="/img/plant-icons/1.png">
          </a>
          <p class="card-body">
            <a class="edit-btn" href="/dashboard/edit/{{plant.id}}">Edit plant</a>
            Last watered: {{format_date plant.date_water}}
          </p>
      </div>
      {{/each}}
    </section>
    {{/if}}   

  </section>
</body>
