<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Plant Profile
  </h2>
  <form class="edit-plant-form">
    <div>
        <label for="profile-name">Plant Name</label>
        <input type="text" id="profile-name" size="60" name="profile-name" value="{{plant.name}}"/>
    </div>

    <div>
        <label for="water-date">Last Water Date</label>
        <input type="date" id="water-date" name="water-date">
    </div>
    
    <div>
      <button type="submit">Save Plant</button>
      <button type="button" class="delete-plant-btn">Delete Plant</button>
    </div>
  </form>
</article>

<script src="/javascript/edit-profile.js"></script>
<script src="/javascript/delete-profile.js"></script>