<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Plant Profile
  </h2>
  <form class="edit-plant-form">
    <div>
      <input name="post-title" type="text" size="60" value="{{post.title}}" />
    </div>
    
    <div>
      <button type="submit">Save Profile</button>
      <button type="button" class="delete-profile-btn">Delete Profile</button>
    </div>
  </form>
</article>


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>