{{#if loggedIn}}
<section class="full-width">
   

<div class="d-flex flex-wrap justify-content-center">
    {{#each plants as |plant|}}
    <p>
        {{> plant-info plant }}
    </p>
    {{/each}}
</div>


</section>
    

{{else}}
    <img src="/images/plantanimation.gif"/>
{{/if}}

</article>
