<article class="post">

    {{#if loggedIn}}
    <button type="submit" class="button-margin"><a class="new-post-button " href="/dashboard/new-profile">Add New Profile</a></button>
    {{/if}}

    {{!-- {{#each plants as |plant| }}
        {{> plant-info plant}}
    {{/each}} --}}


</article>


<script src="/javascript/add-profile.js"></script>