  <div class="login-wrap">

        <div class="login-html">
            <!-- sign in and sign up toggle -->
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

            <!--Sign in section-->
            <div class="login-form">
                <form action="" id="login-form">
                  <div class="sign-in-htm">
                    <div class="group">
                        <!-- <label for="user" class="label"></label> -->
                        <input id="username-login" type="text" class="input" placeholder="Username">
                    </div>
                    <div class="group">
                        <!-- <label for="pass" class="label"></label> -->
                        <input id="password-login" type="password" class="input" data-type="password" placeholder="Password">
                    </div>
                    <div class="group">
                        <button id="login-btn" type="submit" class="btn">Login</button>
                    </div>
                    
                </form>
                    <div class="hr"></div>
                    <img src="/img/logo-small.png" alt="plant-pal-logo" width="180px" height="128px" class="logo">
                  </div>
    

              <!--Sign up section-->
                <div class="sign-up-htm">
                  <form action="" id="signup-form">
                    <div class="group">
                        <!-- <label for="user" class="label"></label> -->
                        <input id="username-signup" type="text" class="input" placeholder="Username">
                    </div>
                    <div class="group">
                        <!-- <label for="email" class="label"></label> -->
                        <input id="email-signup" type="text" class="input" data-type="email" placeholder="Email Address">
                    </div>
                    <div class="group">
                        <!-- <label for="pass" class="label"></label> -->
                        <input id="password-signup" type="password" class="input" data-type="password" placeholder="Password">
                    </div>
                    <div class="group">
                        <!-- <label for="pass" class="label"></label> -->
                        <input id="city-signup" type="text" class="input" placeholder="City">
                    </div>
                    <div class="group">
                        <!-- <label for="pass" class="label"></label> -->
                        <input id="about-signup" type="text" class="input" placeholder="Tell us a little something about you">
                    </div>
                    <div class="group">
                        <button id="signup-btn" type="submit" class="btn">Sign Up</button>
                    </div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already a Member?</a>
                            </label>
                    </div>
                    <img src="/img/logo-small.png" alt="plant-pal-logo" width="190px" height="133px" class="logo">
                    <div class="hr"></div>

                    </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
    
    
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>