<section>
    <h2>Create New Profile</h2>

    <form class="new-plant-form">
        <div>
            <label for="profile-name">Plant Name</label>
            <input type="text" id="profile-name" size="60" name="profile-name" />
        </div>
        <div>
            <label for="plant-sun">Recommended Sunlight</label>
            <input type="text" id="plant-sun" size="60" name="plant-sun" />
        </div>
        <div>
            <label for="plant-water">Recommended Water</label>
            <input type="text" id="plant-water" size="60" name="plant-water" />
        </div>
        <div>
            <label for="water-date">Last Water Date</label>
            <input type="text" id="water-date" size="60" name="water-date" />
        </div>
        <div>
            <label for="post-img">Image</label>
            <input type="file" id="post-img" name="post-img">
        </div>
        
        <button type="submit" class="btn">Create Profile</button>
    </form>
</section>

<script src="/js/add-post.js"></script>