<section class="create-form">
    <h2 class="create-form-title">Add New Plant</h2>

    <form class="new-profile-form">
        <div>
            <label for="profile-name">Plant Name</label>
            <input type="text" id="profile-name" name="profile-name" />
        </div>
        <div>
            <label for="plant-sun">Recommended Sunlight</label>
            <select name="plant-sun" id="plant-sun">
                <option selected>Select option</option>
                <option value="Full">Full</option>
                <option value="Partial">Partial</option>
                <option value="Shade">Shade</option>
            </select>
        </div>
        <div>
            <label for="plant-water">Recommended Water</label>
            <select name="plant-water" id="plant-water">
                <option selected>Select option</option>
                <option value="Daily">Daily</option>
                <option value="Bi-Weekly">Bi-Weekly</option>
                <option value="Weekly">Weekly</option>
            </select>
        </div>
        <div>
            <label for="water-date">Last Water Date</label>
            <input type="date" id="water-date" name="water-date">
        </div>
        
        
        <button type="submit" class="store-search-btn">Create Profile</button>
    </form>
</section>

<script src="/javascript/add-profile.js"></script>