<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" size="60" name="post-title" />
        </div>
        <div>
            <label for="post-text">Content</label>
            <textarea name="post-text"></textarea>
        </div>
        <button type="submit" class="btn">Create Post</button>
    </form>
</section>

<script src="/js/add-post.js"></script>