    <section class="store-container store-width">
            <div > 
                <h2 class="store-title">Search for Garden Stores</h2>
                <input id="city" type="text" placeholder="City Name or Zip Code" class="store-form form-control me-2">
                <button class="store-search-btn" id="button">Search</button>
                <ul id="list" class="list-class"></ul>
            </div>  
    </section>



    <script src="/js/yelp.js"></script>




