<body>
    <section>
        <h2>Search for Garden Stores</h2>
            <div class="container"> 
                <input id="city" type="text" placeholder="City Name or Zip Code" class="form-control me-2">
                <button class="btn " id="button">Search</button>
                <ul id="list">List:</ul>
            </div>  
    </section>



    <script src="/js/yelp.js"></script>
</body>

