    <h1>Yelp Test</h1>
    
    <p>Search for a list of your local gardening stores!</p>
    
    <section>
        <input id="city" type="text" placeholder="City Name or Zip Code">
        <button id="button">Search</button>
        <ol id="list">List:</ol>
    </section>

<script src="/js/yelp.js"></script>