:root {
  --primary: #b7d2b6;
  --secondary: #FFFDD0;
  --tertiary: #5b695b;
  --dark: #000000;
  --test: #f89738;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--primary);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  background: var(--secondary); 
  color: var(--tertiary);
  margin: 0;
}

img {
  height: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

nav {
  display: flex;
  background-color: var(--test);
}

nav a {
  color: var(--tertiary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

nav a:hover {
  color: var(--tertiary);
  background-color: var(--secondary);
}


.btn-nav {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

/* LAYOUT */
/* .container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
} */ 