:root {
  --primary: #b7d2b6;
  --secondary: #FFFDD0;
  --tertiary: #5b695b;
  --dark: #000000;
  --test: #f89738;
  --border-radius: .3rem;

}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--primary);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  background: var(--secondary); 
  color: var(--tertiary);
  margin: 0;
}

.header-img {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

nav {
  display: flex;
  background-color: var(--test);
}

nav a {
  color: var(--tertiary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

nav a:hover {
  color: var(--tertiary);
  background-color: var(--secondary);
}


.btn-nav {
  display: flex;
  color: var(--dark);
  background-color: var(--test);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: none;
}

.btn-nav:hover {
  color: var(--tertiary);
  background-color: var(--secondary);  
  text-decoration: underline;
}

/*  IMAGE CARDS FOR CAROUSEL */
.card {
  margin: 20px 10px 0 10px;
  border: 4px solid var(--tertiary);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  text-decoration: none;
  background-color: var(--tertiary);
  padding: 2%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
  text-align: center;
}

.card-body {
  padding: 2.5%;
  color: white;
  background-color: var(--tertiary);
  font-size: 16px;
  margin: 0;
}

.slick-slide img{
  width:100%;
}

.slick-slide div {
  margin: 20px 10px 0 10px;
}

.full-width {
  width: 100%;
}
.store-width {
  width: 70%;
}

.edit-btn {
  border-radius: var(--border-radius);
  color: var(--tertiary);
  border: none;
  outline: none;
  background-color: var(--primary);
  display: inline-block;
  width: auto;
  margin-top: 5px;
  margin-left: 2px;
  padding: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.edit-btn:hover {
  color: var(--tertiary);
  background-color: var(--secondary);
}

.add-plant-btn {
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--tertiary);
  display: inline-block;
  width: auto;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.add-plant-btn:hover {
  color: var(--tertiary);
  background-color: var(--secondary);
}

.mw-50 {
  max-width: 50%;
  margin: 10px auto;
}

.mw-300 {
  max-width: 300px;
  margin: 10px auto;
}

.footer-img {
  height: 10%;
  width: 100%;
  bottom: 0%;
}

.store-container {
  margin-top: 20px;
  margin-bottom: 20px;

}

.store-title {
  text-align: center;
  text-decoration: underline;
  color: var(--tertiary);; 
  font-family: 'Trocchi', serif; 
  font-size: 45px; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 0;
  margin-bottom: 10px;
}

.store-search-btn {
  margin-top: 10px;
  width: 100%;
  background-color: var(--test);
  border: 0;
  border-radius: 100px;
  color: var(--dark);
  cursor: pointer;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

  .store-search-btn:hover {
    background-color: var(--tertiary);
    color: var(--primary);
  }

  .store-form {
    border-radius: 10px;
    border: var(--primary) solid 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }