:root {
    --primary: #;
    --secondary: #;
    --tertiary: #;
    --quatrinary: #;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    padding: 40px;
    text-align: left;
    background: var(--primary);
    color: var(--light);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  nav {
    display: flex;
    background-color: var(--secondary);
  }
  
  nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
  }
  
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .painting-details {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  /* CARDS */
  .card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }  